# Ignore Visual Studio temporary files and folders
.vs/
*.vcxproj.user
*.suo
Debug/
Release/

# Ignore build output directories
[Bb]in/
[Oo]bj/
[Bb]uild/

# Ignore other unnecessary files
*.log
*.tmp
*.opendb
